<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Set the document title to the name of your application -->
    <title>Dimes Only Network</title>
    <meta name="description" content="Connect with top entertainers. Tip, rate, and discover exotic performers on Dimes Only Network.">
    <meta name="author" content="Dimes Only Network" />

    
    
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://pub-bb2e103a32db4e198524a2e9ed8f35b4.r2.dev/6c49e1ac-5989-47d7-9e9d-d57db55531c0/id-preview-c8d92681--1a93473d-8225-43a6-97e6-ca9a1ec2bd79.lovable.app-1771819118151.png">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Lovable" />
    <meta name="twitter:image" content="https://pub-bb2e103a32db4e198524a2e9ed8f35b4.r2.dev/6c49e1ac-5989-47d7-9e9d-d57db55531c0/id-preview-c8d92681--1a93473d-8225-43a6-97e6-ca9a1ec2bd79.lovable.app-1771819118151.png">
    <meta property="og:title" content="Dimes Only Network">
  <meta name="twitter:title" content="Dimes Only Network">
  <meta property="og:description" content="Connect with top entertainers. Tip, rate, and discover exotic performers on Dimes Only Network.">
  <meta name="twitter:description" content="Connect with top entertainers. Tip, rate, and discover exotic performers on Dimes Only Network.">
</head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
